*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: #FF4029;
    width: 100%;
    height: 600px;
    margin-bottom: 200px;
}
.logokfc{
    padding-top: 10px;
    padding-left: 100px;
}
.headertxt{
    display: flex;
    gap: 30px;
    padding-left: 700px;
    margin-top: -30px;
}
.bout{
    color: white;
    font-weight: light;
}
.bout2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.158) 5px 1px 15px 5px ;
}
.bigtxt{
    margin-top: 100px;
    margin-left: 120px;
}
.bucket{
    color: white;
    font-size: 44px;
    font-weight: bolder;
    line-height: 1.3;
    padding-bottom: 13px;
}
.bucket2{
    color: whitesmoke;
    font-size: 15px;
    line-height: 1.3;
    font-weight: light;
}
.buttn1{
    background-color: #FF4029;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    margin-top: 20px;
    width: 180px;
    height: 30px;
    text-align: center;
    padding-top: 14px;
    font-size: 17px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.13) 5px 5px 5px 5px;
}
.butts4{
    margin-top: 20px;
}
.basketkfc{
    margin-left: 600px;
    margin-top: -350px;
}
.basketkfc img{
    width: 500px;
}
.menu{
    text-align: center;
}
.men{
    background-color: #FFC71F;
    color: white;
    border: none;
    width: 140px;
    height: 33px;
    border-radius: 30px;
    margin-top: -10px;
}
.menus{
    margin-top: 10px;
    text-align: center;
}
.section2{
    background-color: wheat;
    width: 100%;
    height: 600px;
}
.txtsection2{
    display: flex;
    gap: 30px;
    margin-left: 180px;
    padding-top: 140px;
}
.box1{
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}
.box2{
    width: 300px;
    height: 150px;
    background-color: #FF4029;
    border-radius: 10px;
}
.any{
    color: black;
    font-weight: bolder;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 10px;
}
.anyy{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 10px;
}
.any2{
    color: gray;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 10px;
}
.anyy2{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 10px;
}
.any3{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FF4029;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 20px;
}
.anyy3{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FFC71F;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 20px;
}
.burgers{
    margin-left: 120px;
    margin-top: -130px;
}
.burgers2 img{
    width: 220px;
    margin-left: 110px;
    margin-top: -122px;
}
.burgers3 img{
    width: 210px;
    margin-left: 110px;
    margin-top: -130px;
}
.txtsection22{
    display: flex;
    gap: 30px;
    margin-left: 180px;
    padding-top: 40px;
}
.box3{
    background-color: white;
    width: 465px;
    height: 160px;
    border-radius: 10px;
}
.special{
    color: black;
    font-weight: bolder;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 10px; 
}
.special2{
    color: gray;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 10px;
}
.special3{
    margin-top: 20px;
    margin-left: 20px;
    color: #FF4029;
    font-size: 20px;
    font-weight: bold;
}
.burgir{
    margin-top: -127px;
    margin-left: 260px;
}
.burgir2{
    margin-top: -127px;
    margin-left: 240px;
}
.burgir img{
    width: 200px;
}
.burgir2 img{
    width: 220px;
}